# =========================
# Node / Next.js
# =========================
node_modules/
.next/
out/
dist/

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Environment files (REAL ONLY)
# =========================
.env
.env.local
.env.development
.env.production
.env.test

# DO NOT ignore env example
!.env.example

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

.vscode/
.idea/

# =========================
# Prisma
# =========================
prisma/dev.db
prisma/*.db
prisma/*.db-journal

# =========================
# Uploads / temp (if any)
# =========================
uploads/
tmp/
ExampleData.node_modules